<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @wedding_request.sender_id %>
</p>

<p>
  <strong>Reciever:</strong>
  <%= @wedding_request.reciever_id %>
</p>

<p>
  <strong>Is accepted:</strong>
  <%= @wedding_request.is_accepted %>
</p>

<p>
  <strong>Is cancel:</strong>
  <%= @wedding_request.is_cancel %>
</p>

<%= link_to 'Edit', edit_wedding_request_path(@wedding_request) %> |
<%= link_to 'Back', wedding_requests_path %>
